<!DOCTYPE html>
<html>
	{% include 'head.html' %}
	<head>
		<link href="{{ url_for('static', filename='styles/about.css') }}" type="text/css" rel="stylesheet" />
	</head>

	<body>
		{% include 'menu.html' %}
		<div class="main open">
			<div id="basic-info">
				<h1>Hello!</h1>
				<p>
					I am a recent graduate of the University of Colorado with a BA
					in Computer Science, focusing on data science involving Bayesian
					statistics with linear algebra. I can also kill a pint of
					Ben and Jerry's in a half hour, but nobody ever asks about that.
				</p>
				<p>
					I'm looking to start my career in the Bay Area, and, while I
					feel I've covered a lot of ground in college, I'm aware that
					I've only just begun to scratch the surface. My experience
					in college, and my transfer from UW Seattle to CU Boulder in
					particular, has required that I rapidly pick up new languages
					and programming styles quickly, and I feel my adaptability has
					become one of my greatest strengths so far.
				</p>
				<p>
					Anyway, to see more regarding my skills and recent projects,
					please feel free to explore this site. It's designed and built
					by me to serve as a portfolio, demonstrating the skills I have
					picked up in college heading into my professional life.
				</p>
			</div>
			<img src="{{ url_for('static', filename='images/me1024.jpg') }}">
		</div>
	</body>
</html>
