<!DOCTYPE html>
<html>
	{% include 'head.html' %}
	<head>
		<link href="{{ url_for('static', filename='styles/about.css') }}" type="text/css" rel="stylesheet" />
	</head>

	<body>
		{% include 'menu.html' %}
		<div class="main open">
			<div id="basic-info">
				<h1>Hello!</h1>
				<p>This website is essentially a portfolio, so if you're not here
					to consider employing me I don't know why you would be.</p>
				<h1>Bio</h1>
				<p>
					I am a recent graduate of the University of Colorado with a BA
					in Computer Science, focusing on data science involving statistics
					with linear algebra. I can also kill a pint of Ben and Jerry's
					in a half hour, but nobody ever asks about that.
				</p>
				
			</div>
			<img src="{{ url_for('static', filename='images/me.jpg') }}">
		</div>
	</body>
</html>
