<div id="toggle-menu"><p>↑</p></div> <!-- ↑↓ -->
<div class="header"><p>Luke Schaack</p></div>
<div class="menu open" id="menu"> <!-- this should probably be an unordered list -->
    <div class="menu-container"><div class="item"><p>?</p></div><div id="first" class="option-container">
        <div id="first-option" class="sub-option"><a href="/">About</a></div>
    </div></div>
    <div class="menu-container"><div class="item"><p>♠</p></div><div id="second" class="option-container">
        <div id="second-option" class="sub-option"><p>Projects</p></div>
        <div class="sub-option"><a href='/minesweeper'>Minesweeper</a></div>
        <div class="sub-option"><p>Simple Flight</p></div>
        <div class="sub-option"><p>Mockingbird</p></div>
    </div></div>
    <div class="menu-container"><div class="item"><p>¶</p></div><div id="third" class="option-container">
        <div id="third-option" class="sub-option"><p>Writing</p></div>
        <div class="sub-option"><a href='/technical'>Technical</a></div>
        <div class="sub-option"><a href='/rhetorical'>Rhetorical</a></div>
        <div class="sub-option"><a href='/descriptive'>Descriptive</a></div>
    </div></div>
    <div class="menu-container"><div class="item"><p>⋮</p></div><div id="fourth" class="option-container">
        <div id="fourth-option" class="sub-option"><p>Something else?</p></div>
        <div class="sub-option"><p>Could be...</p></div>
        <div class="sub-option"><p>More even?</p></div>
        <div class="sub-option"><p>Who knows</p></div>
    </div></div>
    <div class="menu-container"><div class="item"><p>⋯</p></div><div id="fifth" class="option-container">
        <div id="fifth-option" class="sub-option"><p>Resume</p></div>
    </div></div>
</div>