<!DOCTYPE html>
<html>
	{% include 'head.html' %}
	<head>
		<link href="{{ url_for('static', filename='styles/minesweeper.css') }}" type="text/css" rel="stylesheet" />
	</head>

	<body class="minesweeper">
		{% include 'menu.html' %}
		<div class="main open">
			<div id="explanation">
				<h2>Client-side Minesweeper</h2>
				<p>
					The many options which show up if you google "minesweeper" share
					a single common trait: they're terrible.
				</p>
				<p>
					Most options are only resizeable in that the pixels get bigger,
					many don't have a flag mode, some have just three difficulty
					settings. One version waits for fully 15 seconds "while your
					game loads." It's baffling. So I made my own, and if I'm honest
					I play it all the time.
				</p>
				<p>
					My version is simple, adjustable, smoothly resizeable for sweet
					4k minesweeping action, and totally client-side so it's very 
					fast (with a reasonable number of squares). It's also written
					entirely in TypeScript, which was another motivator for starting
					the project, as I had previously only used pure JS for scripting.
				</p>
				<p>
					If somebody on this page is playing Minesweeper for the first time,
					the rules are pretty simple: click on a square to reveal its state—a
					square is either totally empty, surrounded by at least one mine
					(in which case it will show the number of surrounding mines), or
					itself a mine. If you know or believe a flag is a mine, right
					click on it to set a flag. If a mine is clicked on accident,
					you lose; if you flag all mines without ever touching one, you win!
				</p>
				<strong>To use: </strong></br>
				<strong>
					* Mouse over the hamburger menu to adjust board size and
					mine density, then click the face to reset after choosing the
					desired settings.
				</strong></br>
				<strong>
					* Left click reveals a square, right click sets a flag.
				</strong></br>
				<strong>
					* If a number is left-clicked directly while surrounded by
					that same number of flags, all un-flagged surrounding squares
					will be clicked automatically—this can lose the game for you,
					so watch out!
				</strong></br>
				<strong>
					* Click the flag for flag mode. In this mode, both right and
					left click set flags so you never accidentally hit a mine. Open
					new spaces by the above method of clicking numbers, but make sure
					there are already some open numbers to click before entering
					this mode.
				</strong>
			</div>
			</br>
			<!-- all decent possibilities for dropdown symbol: ⋮, ⋯, ≡, ≣ -->
			<div id="game-area">
				<div id="game-header">
					<div class="settings-dropdown closed">
						<span>≡</span>
						<div class="settings-content">
							<div><p>Width:</p> <input type="number" id="width" name="width" min="7", max="40", value="16"></div>
							<div><p>Height:</p> <input type="number" id="height" name="height" min="1", max="80", value="16"></div>
							<div><p>Mines:</p> <input type="number" id="mines" name="mines" min="2", max="500", value="40"></div>
						</div>
					</div> 

					<div id="info">
						<div class="counter-container"><p class="counter" id="time-counter">000</p></div>
						<div class="square" id="minesweeper-face"><p id="face">:|</p></div>
						<div class="counter-container"><p class="counter" id="mine-counter">000</p></div>	
					</div>

					<div id="flag-mode"><p>⚐</p></div>
				</div>
				<div id="message" class="default"><p></p></div>
				<div id="game-body" class="game"></div>
			</div>
		</div>
	</body>
</html>
