<!DOCTYPE html>
<html>
	<head>
		<title>Luke Schaack</title>
		<meta charset="UTF-8">
		<link href="{{ url_for('static', filename='styles/common.css') }}" type="text/css" rel="stylesheet" />
		<script src="{{ url_for('static', filename='dist/bundle.js') }}" type="text/javascript"></script>
	</head>

	<body class="writing">
		{% include 'menu.html' %}
		<div class="main">
            <embed src="{{ url_for('static', filename='pdfs/bay-area-economic-geography.pdf') }}" height="900px" width="1200px" type='application/pdf'>
            <p>For browsers that don't support embedded pdfs, here is a link to download: </p>
            <a href="{{ url_for('static', filename='pdfs/bay-area-economic-geography.pdf') }}">Download PDF</a>
		</div>
	</body>
</html>
