body {
	font-family: "Lato", "Open Sans", "Roboto", sans-serif;
	font-weight: lighter;
	background-color: ghostwhite; 
	position: relative;
	padding: 0px;
	margin: 0px;
}

.main.open {
	left: 90px;

	-webkit-transition: left 0.3s ease-out;
	transition: left 0.3s ease-out;
}

.main.closed {
	left: 45px;

	-webkit-transition: left 0.5s ease-in-out;
	-webkit-transition-delay: 0.5s;
	transition: left 0.5s ease-in-out;
	transition-delay: 0.5s;
}

/* Main is everything except the menu */
.main {
	position: absolute;
	float:left;
	top: 80px;
	margin-bottom: 50px;
}

.header {
	border-bottom: 1px solid darkgrey;

	height: 65px;
	max-width: 75em; /* for bottom border */
	/* TODO: add min-width for resizing? */
	margin-left: 15px;
	padding-left: 60px; /* to nicely place the border on .header p */
}

.header p {
	font-size: 2.5em;
	/* here, height is necessary for tight spacing on left border */
	height: 65px;
	padding-left: 30px;
	line-height: 60px;
	margin-top: 20px;
	border-left: 1px solid darkgrey;
}

.menu a {
	/* for getting rid of the standard blue underline for links */
	text-decoration: none;
	color: black; /* TODO: different styles to indicate category and link? */
}

/* TODO: make a ".menu p" style so category headers look different  */

.menu.open {
	/* this static height will need to be increased if adding more categories */
	height: 30em;
	overflow: hidden;

	-webkit-transition: height 0.5s ease-in;
	transition: height 0.5s ease-in;
}

.menu.closed {
	height: 0em;
	overflow: hidden;

	-webkit-transition: height 0.5s ease-out;
	transition: height 0.5s ease-out;
}

/* the arrow */
#toggle-menu {
	position: absolute;
	left: 15px;
	top: 0px;
	width: 60px;
}

#toggle-menu p {
	text-align: center;
	margin: 0px;
	font-size: 2.5em;
}

.menu-container {
	float: left;
	clear: left;
	/* necessary for dropdown not shoving lower items down */
	height: 60px;
	min-width: 60px;
	margin-left: 15px;

	overflow-x: visible;
	white-space: nowrap;
}

.item {
	float: left;
	width: 60px;
	line-height: 0px; /* for better centering */
}

.option-container {
	float: left;
	height: 60px;

	overflow: hidden;
	width: 1px; /* show a bit of color */

	-webkit-transition: width 0.2s ease-out, height 0.2s ease-out;
	transition: width 0.2s ease-out, height 0.2s ease-out;
}

.option, .sub-option {
	width: 150px;
	display: block;
	float: left;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 60px;
	font-size: 1em;
}

.option {
	display: block;
	height: 60px;
}

.sub-option {
	position: relative;
	z-index: 10;
	height: 60px;
}

.item:hover + .option-container {
	border-left: none;
	width: 150px;
}

.option-container:hover {
	border-left: none;
	width: 150px;
	/* below seems to be the only setting that works...TODO */
	height: 16em; /* assumes max of 3 items */
}

.item p, .option p, .sub-option p {
	z-index: 100;
	transform: translateY(-30%);
	text-align: center;
}

.item p {
	font-size: 2em;
}

#first-option { background-color: rgb(217, 43, 0) }

#second-option { background-color: rgb(254, 212, 63) }

#third-option { background-color: rgb(103, 173, 41) }

#fourth-option { background-color: hsl(180, 70%, 40%) }

#fifth-option { background-color: rgb(156, 151, 222)  }
