embed {
    margin-top: 1.5em;
}

form {
    width: 100%;
}

button {
    margin-top: 1em;
    
    width: 100%;
    min-width: 2em;
    height: 2em;

    font-size: 2em;

    border: none;
    background-color: rgba(165, 222, 222, 0.3);
}

button:hover {
    background-color: rgba(165, 222, 222, 1);
}